body{
    background-color: #E4F9F5;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.pro{
    text-decoration: underline;
}

.profile-img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}


.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    
}

.top-cloud{
    position: absolute;
    right: 300px;
    top:50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2REM;
    font-weight: bolder;
}

h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.name-description{
    font-size: 1.4rem;
}

body{
    margin: 0px;
    /*in the above we have mention right, left, top, bottom margin that can be replaced by using margin for all four*/
}

.programming{
    width: 20%;
    float: left;
    margin-right: 30px;
}

.acting{
    width: 20%;
    float: right;
    margin-left: 30px;
}

hr{
    
    background-color: #EAF6F6;
    border-style: dotted none none none;
    border-color: grey;
    border-width: 7px;
    width: 5%;
  
}

p{
    color: #40514E;
}

.hello-description{
    width: 500px;
    margin-left:auto;
    margin-right: auto;
    font-weight: bold;
}

.btn {
    margin-top: 20px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #fcfcfc;
    font-size: 20px;
    background: #66BFBF;
    padding: 10px 20px 10px 16px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #07b0b0;
    text-decoration: none;
  }

  .bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }

  .footer-link
  {
    color: #11999e;
    margin: 10px auto 10px auto;
    display: inline-block;
    padding: 0 15px 0;
    text-decoration: none;
  }

  .footer-link:hover{
    color:#EAF6F6 ;
  }

  .trademark{
    color: #EAF6F6;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  .connect-description{
    margin-bottom: 40px;
  }

 